/* src/App.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin: 10px 0;
  }
  
  input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px orangered;
  }
  
  button {
    border-radius: 10px;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: solid 3px orangered;
    cursor: pointer;
  }
  
  button:hover {
    background-color: orange;
  }
  